*{
	margin: 0;
	padding: 0;
}

html, body{
	width: 100%;
	min-height: 100%;

}
a, a:link, a:visited{
	color: #e0d359;
} 

h1,h2{
    line-height:1;
    margin:1.4em 0 0.8em;
}

p{
	 margin:1em 0 0.6em;
}
/*superslides basics*/

#slides {
  position: relative;
}
#slides .slides-container {
  display: none;
}
#slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
#slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}

.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
}
.slides-navigation a {
  position: absolute;
  display: block;
}
.slides-navigation a.prev {
  left: 0;
  display: none;
}
.slides-navigation a.next {
  right: 40px;
}

.slides-pagination {
  display: none;
}

/* overall*/
#welcome h1{
	text-shadow: 1px 1px 1px #000;
	color:#fff;
}

#song h1{
	text-shadow: 1px 1px 1px #666;
	color:#000;
}

#thanks h1{
	color:#e0d359;
}



/*screen 1*/
#welcome h1{
	overflow: visible;
	color:#646464;
	font-family: 'ExoThin';
	font-size: 2em;
	position: absolute;
	top: 66%;
	left: 11%;
	z-index: 999;
	-webkit-transition: all .2s ease-in;
}

#welcome h1:hover{
	color: #898989;
	-webkit-transition: all .2s ease-in;
}

#welcome h1 span, #song h1 span{
	display: block;
	padding-top: 0.5em;
}

/*screen 2*/
	.container{
		width: 100%;
		height: 100%;
	}

	.songTitle{
	overflow: visible;
	color:#000;
	font-family: 'ExoThin';
	font-size: 1em;
	position: absolute;
	bottom: 10%;
	left: 6%;
	z-index: 999;
	}
		


	/* lyric*/
		#lyric{
			color: #c2c2c2;
			margin: 6% 6% 0 0;
			left:66%;
			font-size: 2em;
		}
/* screen 3 */

.download_track{
	height: 100%;
	width: 100%;
	margin: 39% 25% 0 25%;
	background: rgba(0,0,0,0) url(../images/download.png) no-repeat;
	background-size: 33px 33px;
	background-position: 89px 64px;
	font-size: 2em;
	text-align: left;

}
.download_track span{
	position: relative;
	text-align: center;
}

#song_info .container{
	background: #e3e3e3 url(../images/info_bg.png);
	font-family: 'ExoMedium';
	font-size: 1em;
	color: #7b7b7b;
	height: 100%;
	text-shadow: 1px 1px 1px #000;
	overflow: hidden;
	//padding: 3% 6%;
	width: 100%；
}

#song_info .container a,#song_info .container a:link, #song_info .container a:hover, #song_info .container a:visited{
	color: #898989;
}

.left_column{
//	background: rgba(255,255,255, .55);
//	border-radius: 25px 0px 0px 25px;
	padding-right: 2%;
	margin:6% 0 2% 6%;
	height: 66%;
	width: 42%;
	float: left;
	-webkit-transition: all .3s ease-in;
}

 .right_column{
// 	border-radius: 0px 25px 25px 0;
//	background: rgba(0,0,0, .66);
 	margin:6% 6% 2% 0;	
 	height: 66%;
 	width: 44%;
 	float: right;
 	-webkit-transition: all .3s ease-in;
 }

 .left_column:hover, .right_column:hover{
 	color: #898989;
 	-webkit-transition: all .3s ease-in;
 }

.left_column p, .right_column p{
	line-height: 1.4em;
	font-size: 1.2em;
}

/* screen 4*/

#about .container{
	background: #e3e3e3 url(../images/info_bg.png);
	font-family: 'ExoMedium';
	font-size: 1em;
	color: #7b7b7b;
	height: 100%;
	text-shadow: 1px 1px 1px #000;
	overflow: hidden;
	//padding: 3% 6%;
	width: 100%；
}

/*screen thanks
#thanks .container{
	background: #e0d359;
	font-family: 'ExoThin';
	font-size: 1.2em;
	color: #e0d359;
	text-shadow: 1px 1px 1px #000;
	overflow: visible;
	padding: 3% 6%;
} */


/*sc-player*/
		.sc-player{
			/*margin: 0 auto;*/
			width: 100%;
			height: 100%;
			background:#c2c2c2;
			-webkit-transition: all .3s ease-in;
			/*vertical-align: middle;*/
			/*text-align: center;*/
		}
		.sc-player .sc-play{
			z-index: 800;
			background: url(../images/play.png);
			background-size: 256px 256px;
			-webkit-transition:background-image .2s ease-in;
			-webkit-transition:background-color .3s ease-in;
		}

		.playing{
			height:100%;
			width:100%;
			background:#e0d359;	
			overflow: visible;
			-webkit-transition: background .3s ease-in;
		}
		.playing .sc-play{
			z-index: 800;
			background-image: url(../images/pause.png);
			background-size: 256px 256px;
			-webkit-transition:background-image .2s ease-in;
		}

		.sc-play{
			display: block;
			height: 256px;
			width: 256px;
			position: absolute;
			left: 50%;
			top: 20%;
			margin-left: -128px;
		}

		.preserve{
			width: 256px;
			height: 256px;
		}

		li.active, .sc-waveform-container,.sc-info,  .hidden, a#info, .sc-info-toggle {
			display: none;
		}
		@font-face{
			font-family: 'Exo';
			src:url(./fonts/Exo.ttf);
		}
		.sc-time-indicators{
			font-family: 'Exo';
			font-size: 1em;
			text-shadow: 1px 1px 1px #666;
			position: absolute;
			display: none;
		}

/* signup*/

#signup_screen{
	width: 100%
	height:100%;
}

#signup_screen .container{
	background: #e0d359 url(../images/info_bg.png);
}

#form{
		background: rgba(0,0,0,0);
		overflow: visible;
		width:100%;
		padding: 6%;
	}
	#signup_form{
		color: #e0d359;
		margin: 0 6% 0 6%;
		font-size: 5em;
		font-family: 'ExoBold';
		text-shadow: 1px 5px 10px #000;
		overflow: visible;
	}
	#signup_form p{
		 margin: 3% 3% 0 3%;
		 word-wrap:break-all;
		 text-align: center;
	}
		/* inputs */
	#inputs{
		margin: 6% 0 0 3%;
	}
	input[type="email"],input[type="email"]:hover {
			background-color: #e0d359;
			border-top-style: none;
			border-left-style: none;
			border-right-style: none;
			border-bottom-style: 2px solid;
			border-bottom-color: #000;
			border-radius: 10px;
			color:#000;
			float: left;
			font-family: 'ExoThin';
			font-size: 1em;
			outline:none;
			resize:none;
			width: 33%;
			display: block;
			text-align: left;
		}
	#submit{
			float:right;
			font-family: 'ExoThin';
			font-size: .6em;
	}
	.btn{
			padding:10px 0;
			width: 23%;
			height: 111px;
			margin: 0 5% 0 0; 
			font-size: 20px;
			display: block;
			border-style: none;
			background-color: rgba(216,206,45,0);
			color: #000;
			border-radius: 12px;
			vertical-align: middle;
			text-align: center;
			-webkit-transition: color .1s ease-in;
			-webkit-transition: all .1s ease-in;
		}

		.btn:hover{
			background-color: #e0d359;
			color: #e0d359;
			text-shadow: 1px 1px 1px #000;
			-webkit-transition: all .1s ease-in;
		}

/* temp signup*/
#temp_signup{
	padding: 6%;
	color: #898989;
	background: #e0d359 url(../images/info_bg.png);
	text-shadow: 1px 1px 1px #000;
	font-size: 2em;

}

/* copyright

#copyright{
			z-index: 800;
			color:#000;
			position:fixed;
			right:66px;
			bottom:30px;
			text-align:left;
			width: 500px;
			height:27px;
			-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(20%, transparent), to(rgba(255, 255, 255, 0.5)));
		}

		#lvn{
			display:block;
			float:left;
			padding-top:2px;
			opacity:.88;
			width: 66px;
		}
		#chance{
			display:block;
			float:left;
			margin-bottom:7px;
			opacity:.66;
		}
 */

/* the new copyright */


#copyright{
			z-index: 800;
			color:#000;
			position:fixed;
			background: rgba(0, 0, 0, 0);
			right:66px;
			bottom:3%;
			font-family: 'ExoThin';
			text-align:right;
			width: 100%;
			height:27px;
//			-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(20%, transparent), to(rgba(255, 255, 255, 0.5)));
		}

#copyright_content{
	opacity: .2;
	font-size: .8em;
	color: #e0d359;
	background: rgba(0, 0, 0, .0);
	-webkit-transition: all 1s ease-in;
}
#copyright_content:hover{
	opacity: .8;
	text-shadow: 1px 1px 1px #000;
	-webkit-transition: all .7s ease-in;
}


