*{
	margin: 0;
	padding: 0;
}

html, body{
	width: 100%;
	min-height: 100%;

}
a, a:link, a:visited{
	color: #e0d359;
	text-decoration: none;
	text-shadow: 1px 1px 1px #000;
	-webkit-transition: all .1s ease-in;
} 
a:hover{
	text-shadow: 1px 1px 1px #198964;
	-webkit-transition: all .1s ease-in;
}

h1,h2{
    line-height:1;
    margin:1.4em 0 0.8em;
}

p{
	 margin:1em 0 0.6em;
}
/*superslides basics*/

#slides {
  position: relative;
}
#slides .slides-container {
  display: none;
}
#slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
#slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}

.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
}
.slides-navigation a {
  position: absolute;
  display: block;
}
.slides-navigation a.prev {
  left: 0;
  display: none;
}
.slides-navigation a.next {
  right: 40px;
}

.slides-pagination {
  display: none;
}

/* overall*/
.point5em{
	font-size: .5em;
}
.1point5em{
	font-size: 1.5em;
}
.2em{
	font-size: 2em;
}
.3em{
	font-size: 3em;
}

#welcome h1{
	text-shadow: 1px 1px 1px #000;
	color:#fff;
}

#song h1{
	text-shadow: 1px 1px 1px #666;
	color:#000;
}

#thanks h1{
	color:#e0d359;
}

/*clear float*/
.container:before, .container:after{
	display: table;
	content: "";
}
.container:after{
	clear: both;
}
.container{
	*zoom: 1;
}

/*screen 1*/
#welcome h1{
	/*overflow: visible;*/
	
	color:#fff;
	font-family: 'ExoThin';
	font-size: 2em;
	position: absolute;
	top: 66%;
	left: 11%;
	z-index: 999;
	-webkit-transition:
}

#welcome h1 span, #song h1 span{
	display: inline-block;
	padding-top: 0.5em;
}

/*screen 2*/
	.container{
		width: 100%;
		height: 100%;
	}

	.songTitle{
	overflow: visible;
	color:#000;
	font-family: 'ExoThin';
	font-size: 1em;
	position: absolute;
	bottom: 10%;
	left: 6%;
	z-index: 999;
	-webkit-transition: all .2s ease-in;
	}


	/* lyric*/
		#lrcBox{
			margin: 0 auto;
			position: absolute;
			bottom: 30%;
			width: 400px;
			height: 100px;
			background-color: yellow;
			z-index: 1200;
			
			}
/* song info */
.download_track{
	margin: 23% auto 0 auto;
	font-size: 2em;
}
.download_track a{
	opacity: .5;
	display: block;
	width: 28px;
	height: 28px;
	background-image: url(../images/download.png) ;
	//background-size: 56px 56px;
	margin: 6% 50% 0 auto;
}
.download_track a:hover{
	opacity: 1;
}

#song_info .container{
	background: #e3e3e3 url(../images/info_bg.png);
	font-family: 'Proxima N W02 Reg', Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: lighter;
	color: #d2d2d2;
	height: 100%;
	text-shadow: 0px 0px 3px #198964;
	width: 100%；
}

#song_info .container a,#song_info .container a:link, #song_info .container a:visited{
	color: #c1c1c1;
	text-shadow: 0px 0px 3px #198964;
}
#song_info .container a:hover{
	color: #f4f4f4;
	text-shadow: 0 0 1px #fff;
}

.left_column{
	padding-right: 2%;
	margin:12% 0 2% 0;
	height: 66%;
	width: 42%;
	float: left;
	text-align: center;
	-webkit-transition: all .3s ease-in;
}

 .right_column{
 	margin:6% 10% 2% 0;	
 	height: 66%;
 	width: 44%;
 	float: right;
 	-webkit-transition: all .3s ease-in;
 }

 .left_column:hover, .right_column:hover{
 	color: #f4f4f4;
 	text-shadow: 0 0 3px #201364;
 	-webkit-transition: all .3s ease-in;
 }

.left_column p, .right_column p{
	line-height: 1.5em;
	font-size: 1em;
}

/* screen 4*/
#about{
	background: #e3e3e3 url(../images/info_bg.png);
}

#about .container{
	margin: 6% 0 0 6%;
	width: 40%;
	text-align: left;
	font-family: 'ExoThin';
	font-size: 18px;
	font-weight: 100;
	line-height: 1.5em;
	color: #d2d2d2;
	height: 100%;
	text-stroke: 1px rgba(0,0,0,0);
	text-fill-color:transparent;
	text-shadow: 0px 0px 6px #198964;
	-webkit-transition: all .3s ease-in;
}
#about .container:hover{
	color: #f4f4f4;
	text-shadow: 0 0 3px #201364;
	-webkit-transition: all .3s ease-in;
}


/* signup*/

#signup_screen{
	/*background: #e0d359 url(../images/info_bg.png);*/
	text-align: center;
	background: #e3e3e3 url(../images/info_bg.png);
}

#signup_screen .container{
	padding-top: 10%;
}


#signup_form{
	text-align: center;
	color: #e0d359;
	margin: 0 6% 0 6%;
	font-size: 3em;
	font-family: 'ExoBold';
	/*text-shadow: 1px 5px 10px #000;*/
}


input[type="email"],input[type="email"]:hover {
			background-color: #e0d359;
			border-top-style: none;
			border-left-style: none;
			border-right-style: none;
			border-bottom-style: 2px solid;
			border-bottom-color: #000;
			border-radius: 10px;
			color:#000;
			/*float: left;*/
			font-family: 'ExoThin';
			font-size: 21px;
			outline:none;
			resize:none;
			width: 33%;
			display: block;
			text-align: center;
			margin: 0 auto;

}


/*sc-player*/


.sc-player{
	margin: 0 auto;
	width: 100%;
	height: 100%;
	background-image:url(../images/star_playing_bg1.jpg),url(../images/star_playing_bg3.png);
	-webkit-transition: all .3s ease-in;
	vertical-align: middle;
	text-align: center;
	color: #000;
}
.sc-player .sc-play{
	z-index: 800;
	background: url(../images/play.png);
	background-size: 256px 256px;
	-webkit-transition:background-image .2s ease-in;
	-webkit-transition:background-color .3s ease-in;
}

.playing{
	height:100%;
	width:100%;
//	background:#e0d359;	
	overflow: visible;
	-webkit-transition: background .3s ease-in;
}
.playing .sc-play{
	z-index: 800;
	background-image: url(../images/pause.png);
	background-size: 256px 256px;
	-webkit-transition:background-image .2s ease-in;
}

.sc-play{
	display: block;
	height: 256px;
	width: 256px;
	position: absolute;
	left: 50%;
	top: 20%;
	margin-left: -128px;
}

.preserve{
	width: 256px;
	height: 256px;
}

li.active, .sc-waveform-container,.sc-info,  .hidden, a#info, .sc-info-toggle {
	display: none;
}
@font-face{
	font-family: 'Exo';
	src:url(./fonts/Exo.ttf);
}
.sc-time-indicators{
	font-family: 'Exo';
	font-size: 1em;
	text-shadow: 1px 1px 1px #666;
	position: absolute;
	display: none;
}

/* temp signup*/
#temp_signup{
	color: #898989;
	background: #e0d359 url(../images/info_bg.png);
	text-shadow: 1px 1px 1px #000;
}

#temp_signup_wrapper{
	margin:12%;
}

}
#temp_signup_wrapper h1{
	font-size: 3em;
	line-height: .5em;
}
#temp_signup_wrapper p{
	font-size: 1.5em;
}
#force3em{
	font-size: 3em;
}

.note{
	font-size: 16px;
}

/*copyright*/

#copyright{
	position: absolute;
	bottom: 2%;
	right: 2%;
	z-index: 999;
}

#copyright_content{
	opacity: .2;
	font-size: .8em;
	color: #e0d359;
	background: rgba(0, 0, 0, .0);
	-webkit-transition: all 1s ease-in;
}
#copyright_content:hover{
	opacity: .8;
	text-shadow: 1px 1px 1px #000;
	-webkit-transition: all .7s ease-in;
}
